.git
.DS_Store
.env
.runtime
.agents
.idea
.tx
.vscode
addresses
build
build-*
build_*
cmake-build-*
autom4te.cache
config.log
config.status
Makefile
Makefile.in
src/.deps
src/.libs
src/**/*.o
src/**/*.a
src/**/*.lo
src/**/*.la
